* {
    box-sizing: border-box;
  }
body{
    display: flex;
    margin: 0;
    height: 100vh;
    /* background-color: darkgray; */
    /* background-image: url(./pictures/Fon.jpg); Изображение вместо фона
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background: linear-gradient(rgba(184, 20, 20, 0.5), rgba(0, 0, 0, 0.5)), url(./pictures/Fon.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100vw;
    display: flex;
}
.slide{
    opacity: 0.6;
    transform: scale(0.95);
    height: 80vh;
    border-radius: 20px;
    margin: 10px;
    flex: 1;
    cursor: pointer;
    position: relative;
    /* color: rgb(232, 208, 231); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s ease-in-out; transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    box-shadow: 0 8px 16px rgba(176, 233, 20, 0.2);  /* Тень */
}
/* Анимация увеличения при наведении */
.slide:hover {
    transform: scale(1.03); /* увеличение слайда */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);/* Более выраженная тень при наведении */
}
/* .slide1{
    border: 20px solid #ca0d0d; Рамка 
} */
/* .slide img{    Выравнивание изображения с использованием тега <img>
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.5s ease-in-out;
} */
.slide h3 {
    position: absolute;
    font-size: 24px;
    bottom: -25px;
    left: 20px;
    margin: 0;
    opacity: 0;
    color: bisque;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
} 
.slide.active{
    opacity: 1;
    transform: scale(1);
    flex: 10;
}
.slide.active h3{
    opacity: 1;
    /* transition: opacity 0.3 ease-in 0.4; */
} 
.slide-link {
    display: block;
    position: relative;
    top: 600px;
    left: 5px;
    color: #4b1010;
    font-family: Tahoma, sans-serif;
    font-size: 9px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}
.slide-link:hover {
color: #f6f6f6;
text-decoration: underline;
}
a {
    color: #92f7da;
    text-decoration: none;
    ont-weight: bold; /*Делаем текст жирным */
    transition: color 0.3s ease; /*Плавное  изменение цвета при наведение */
}
a:hover {
    color: #ff9800;
}